body {
	background: #f6f7f9;
	border: 1px solid #ced0d4;
	cursor: default;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	margin: 0;
	width: 18rem;
}
a {
	color: inherit;
	text-decoration: none;
}

header, footer {
	background: #005E93;
	color: aliceblue;
	display: flex;
	height: 2rem;
}
header {
	align-items: center;
	border-bottom: 1px solid #ced0d4;
	font-size: 120%;
	justify-content: center;
}

header #options{
	position: absolute;
	top: 4px;
	right: 10px;
	cursor: pointer;
}

#menu {
	color: black;
	list-style-type: square;
}
#menu .expandable>.details {display: none;}
#menu .expandable.expanded>.details {display: inline;}
#menu .expandable>.expander::after {content: '…';}
#menu .expandable.expanded>.expander::after {content: ':';}
#menu a:hover {
	text-decoration: underline;
}

#options_content{
	padding: 5px;
	box-sizing: border-box;
	display: none;
}

#options_content table{
	border: 0;
	border-collapse: collapse;
}

#options_content table tr td:first-of-type{
	padding-right: 10px;
}

#options_content input{
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 12px;
}

#options_content #close_options {
	background-color: #FFFFFF !important;
}

footer {
	align-items: center;
	border-top: 1px solid #ced0d4;
	padding: 0 0.35rem;
}
footer button#close, #options_content #close_options {
	background: #f6f7f9;
	border: 1px solid #ced0d4;
	color: #4b4f56;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 90%;
	height: 1.3rem;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
	cursor: pointer;
}
footer .bottom-links {
	flex-grow: 1;
	text-align: right;
}
